{% extends "halalapp/title.html" %}
{% load static %}
{% block content %}
<style>
  select{
    font-weight:bolder;
    font-size:27px;
    height:5vh;
    width:9vh;
    -webkit-appearance: none;
    background-color:transparent;
    border-style: none;
  }
  option{
    font-size:10px;
  }
</style>
<body>
  <div>
    <table style="padding-top:25px;">
      <tr>
        <th style="width:280px; font-size:30px;" onclick="mainclick()">할랄 추천</th>
        <th style="width:280px; font-size:30px; color:rgb(51,172,128);" onclick="goodsclick()">할랄 상품</th>
        <th style="width:280px; font-size:30px;" onclick="recipeclick()">레시피</th>
        <th style="width:280px; font-size:30px;" onclick="eventcilck()">이벤트</th>
      </tr>
      <tr>
        <td></td>
        <td><hr style="border: solid 3px rgb(51,172,128);"></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div style="float:right;">
    <select>
      <option value="1">신상품순</option>
      <option value="2">인기순</option>
      <option value="3">낮은 가격순</option>
      <option value="4">높은 가격순</option>
    </select>
    <img src="{% static 'halalapp/img/downarrow.png' %}" style="width:3vw; height:1.5vh;">
  </div>





  <div style="float:left;">
    <div  style="width:90vw; height:10vh;"><div>
  </div>
</body>

<script>

  function mainclick(){
    location.href= "{% url 'halalapp:main' %}";
  }
  function goodsclick(){
    location.href= "{% url 'halalapp:goods' %}";
  }
  function recipeclick(){
    location.href= "{% url 'halalapp:recipe' %}";
  }
  function eventcilck(){
    location.href= "{% url 'halalapp:event' %}";
  }
</script>
{% endblock %}
