{% extends "halalapp/title.html" %}
{% load static %}
{% block content %}
<style>
  select{
     width: 110px;
     height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
  }
</style>
<body>
  <div>
    <table>
      <tr>
        <th style="width:280px; font-size:30px;" onclick="mainclick()">할랄 추천</th>
        <th style="width:280px; font-size:30px; color:rgb(51,172,128);" onclick="goodsclick()">할랄 상품</th>
        <th style="width:280px; font-size:30px;" onclick="recipeclick()">레시피</th>
        <th style="width:280px; font-size:30px;" onclick="eventcilck()">이벤트</th>
      </tr>
      <tr>
        <td></td>
        <td><hr style="border: solid 3px rgb(51,172,128);"></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div style="float:right;">
    <select style="font-size:20px; height:10hv;">
      <option value="1">신상품순</option>
      <option value="2">인기순</option>
      <option value="3">낮은 가격순</option>
      <option value="4">높은 가격순</option>
    </select>
  </div>
</body>

<script>

  function mainclick(){
    location.href= "{% url 'halalapp:main' %}";
  }
  function goodsclick(){
    location.href= "{% url 'halalapp:goods' %}";
  }
  function recipeclick(){
    location.href= "{% url 'halalapp:recipe' %}";
  }
  function eventcilck(){
    location.href= "{% url 'halalapp:event' %}";
  }
</script>
{% endblock %}
